@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	@apply w-2;
}
::-webkit-scrollbar-track {
	@apply bg-neutral-900;
}
::-webkit-scrollbar-thumb {
	@apply bg-neutral-400 hover:bg-neutral-500;
}
::selection {
	@apply text-primary-100 bg-primary-600;
}

* {
	scroll-behavior: smooth;
}

body {
	@apply overflow-x-hidden text-gray-600 bg-neutral-900;
}

.button-primary {
	@apply inline-flex flex-row items-center justify-center gap-2 px-5 py-2 sm:py-3 sm:px-8 text-sm sm:text-base font-semibold transition-all duration-75 bg-white border border-white text-neutral-900 hover:rounded-lg rounded-3xl focus:outline-none disabled:cursor-not-allowed disabled:bg-neutral-300;
}
.button-secondary {
	@apply inline-flex items-center justify-center px-5 py-2 sm:py-3 sm:px-8 text-base backdrop-blur-[2px] hover:rounded-lg rounded-3xl focus:outline-none font-semibold flex-row gap-2 disabled:bg-primary-200 disabled:cursor-not-allowed transition-all  text-neutral-100 border border-neutral-700;
}
.button-danger {
	@apply inline-flex flex-row items-center justify-center gap-2 px-5 py-2 sm:py-3 sm:px-8 text-sm sm:text-base font-semibold transition-all duration-75 bg-red-600/20 border border-red-800 text-neutral-100 hover:rounded-lg rounded-3xl focus:outline-none disabled:cursor-not-allowed disabled:bg-red-300;
}

.link {
	@apply bg-gradient-to-l bg-left-bottom from-primary-500/70 to-primary-500/70 font-normal text-primary-600 cursor-pointer h-fit bg-[length:0_2px] bg-no-repeat transition-[background-size] duration-300 ease-in hover:bg-[length:100%_2px] hover:bg-right-bottom;
}

hr {
	@apply my-4 border-border w-full;
}

h1 {
	@apply text-4xl md:text-5xl lg:text-6xl font-bold text-neutral-100;
}
h2 {
	@apply text-3xl font-bold text-neutral-100;
}
h3 {
	@apply text-2xl font-semibold text-neutral-100;
}
h4 {
	@apply text-xl font-semibold text-neutral-100;
}
h5 {
	@apply text-lg font-semibold text-neutral-100;
}
h6 {
	@apply text-base font-semibold text-neutral-100;
}
p, label {
	@apply block text-base leading-6 font-semibold font-['Mulish'] text-neutral-300;
}

.card {
  @apply rounded-lg md:p-10 p-6 w-full flex flex-col items-start gap-4 text-start transition-all border border-neutral-700
}
.card-button {
  @apply rounded-lg md:p-10 p-6 w-full flex flex-col justify-start items-start gap-6 cursor-pointer disabled:cursor-not-allowed text-xl text-start hover:shadow-lg hover:-translate-y-1 transition-all border relative text-neutral-100 border-border
}
.card-button p {
  @apply leading-5 mt-2
}
.card-button svg {
  @apply text-2xl
}


.postCard {
  @apply md:p-4 p-2 flex flex-col items-start gap-4 text-start transition-all w-full border-border
}

.userCard {
  @apply flex flex-col cursor-pointer relative transition-all overflow-hidden border border-border
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes dash {
	from {
		stroke-dashoffset:100;
	}
	to {
	  	stroke-dashoffset:0;
	}
}